<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nexte.nexte">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".NexteApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:networkSecurityConfig=”@xml/network_security_config”> -->

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginScene.LoginFragment"
            android:label="Login" />
        <activity
            android:name=".RankingScene.RankingFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedScene.FeedFragment"
            android:label="@string/title_activity_feed_view"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowProfileScene.ShowProfileFragment"
            android:label="@string/title_activity_show_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--<activity-->
            <!--android:name="com.facebook.accountkit.ui.AccountKitActivity"-->
            <!--android:theme="@style/AppLoginTheme"-->
            <!--tools:replace="android:theme" />-->
        <activity
            android:name=".LikeListScene.LikeListFragment"
            android:label="LikeListView"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProfileScene.EditProfileView"
            android:screenOrientation="portrait" />
        <activity android:name=".PlayersListScene.ChallengeTabsFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".CommentsScene.CommentsFragment"
            android:label="CommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MatchScene.MatchFragment"
            android:label="MatchActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".LoginScene.LoginView" />
    </application>

</manifest>